$gray : #d3d3d3;

.box {
  background: $gray;
  border: 3px solid black;
  padding: 2px 4px;
  width: 50%;
  font-size: 30px;
  .button {
    font-weight: bold;
    text-align: center;
    background: red;
    color: white;
  }
}

body {
  color: teal;
  background-color: maroon;

}

li {
  font-size: 12px;
}

.btn {
  color: black;
}
